# Ignore everything by default
*

# Allow directories to be tracked
!*/

# Whitelist specific file types
!*.py
!*.sh
!*.ipynb
!*.csv

# Always keep the .gitignore file itself
!.gitignore

# Explicitly exclude archive/ and .ipynb_checkpoints/
archive/
.ipynb_checkpoints/



